AuctioneerClient/xml-resources/web-service-references/auctioneer/wsdl/localhost_8080/auctioneer.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://auctioneer/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://auctioneer/" name="DataService">
<types>
<xsd:schema>
<xsd:import namespace="http://auctioneer/" schemaLocation="http://localhost:8080/auctioneer?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login"></part>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"></part>
</message>
<message name="getAllAuctions">
<part name="parameters" element="tns:getAllAuctions"></part>
</message>
<message name="getAllAuctionsResponse">
<part name="parameters" element="tns:getAllAuctionsResponse"></part>
</message>
<message name="placeBid">
<part name="parameters" element="tns:placeBid"></part>
</message>
<message name="placeBidResponse">
<part name="parameters" element="tns:placeBidResponse"></part>
</message>
<message name="getPastAuctions">
<part name="parameters" element="tns:getPastAuctions"></part>
</message>
<message name="getPastAuctionsResponse">
<part name="parameters" element="tns:getPastAuctionsResponse"></part>
</message>
<message name="getCurrent">
<part name="parameters" element="tns:getCurrent"></part>
</message>
<message name="getCurrentResponse">
<part name="parameters" element="tns:getCurrentResponse"></part>
</message>
<message name="getChat">
<part name="parameters" element="tns:getChat"></part>
</message>
<message name="getChatResponse">
<part name="parameters" element="tns:getChatResponse"></part>
</message>
<message name="addMessage">
<part name="parameters" element="tns:addMessage"></part>
</message>
<message name="addMessageResponse">
<part name="parameters" element="tns:addMessageResponse"></part>
</message>
<message name="addUser">
<part name="parameters" element="tns:addUser"></part>
</message>
<message name="addUserResponse">
<part name="parameters" element="tns:addUserResponse"></part>
</message>
<message name="addItem">
<part name="parameters" element="tns:addItem"></part>
</message>
<message name="addItemResponse">
<part name="parameters" element="tns:addItemResponse"></part>
</message>
<message name="getHighestBidForAuction">
<part name="parameters" element="tns:getHighestBidForAuction"></part>
</message>
<message name="getHighestBidForAuctionResponse">
<part name="parameters" element="tns:getHighestBidForAuctionResponse"></part>
</message>
<portType name="Data">
<operation name="login">
<input wsam:Action="http://auctioneer/Data/loginRequest" message="tns:login"></input>
<output wsam:Action="http://auctioneer/Data/loginResponse" message="tns:loginResponse"></output>
</operation>
<operation name="getAllAuctions">
<input wsam:Action="http://auctioneer/Data/getAllAuctionsRequest" message="tns:getAllAuctions"></input>
<output wsam:Action="http://auctioneer/Data/getAllAuctionsResponse" message="tns:getAllAuctionsResponse"></output>
</operation>
<operation name="placeBid">
<input wsam:Action="http://auctioneer/Data/placeBidRequest" message="tns:placeBid"></input>
<output wsam:Action="http://auctioneer/Data/placeBidResponse" message="tns:placeBidResponse"></output>
</operation>
<operation name="getPastAuctions">
<input wsam:Action="http://auctioneer/Data/getPastAuctionsRequest" message="tns:getPastAuctions"></input>
<output wsam:Action="http://auctioneer/Data/getPastAuctionsResponse" message="tns:getPastAuctionsResponse"></output>
</operation>
<operation name="getCurrent">
<input wsam:Action="http://auctioneer/Data/getCurrentRequest" message="tns:getCurrent"></input>
<output wsam:Action="http://auctioneer/Data/getCurrentResponse" message="tns:getCurrentResponse"></output>
</operation>
<operation name="getChat">
<input wsam:Action="http://auctioneer/Data/getChatRequest" message="tns:getChat"></input>
<output wsam:Action="http://auctioneer/Data/getChatResponse" message="tns:getChatResponse"></output>
</operation>
<operation name="addMessage">
<input wsam:Action="http://auctioneer/Data/addMessageRequest" message="tns:addMessage"></input>
<output wsam:Action="http://auctioneer/Data/addMessageResponse" message="tns:addMessageResponse"></output>
</operation>
<operation name="addUser">
<input wsam:Action="http://auctioneer/Data/addUserRequest" message="tns:addUser"></input>
<output wsam:Action="http://auctioneer/Data/addUserResponse" message="tns:addUserResponse"></output>
</operation>
<operation name="addItem">
<input wsam:Action="http://auctioneer/Data/addItemRequest" message="tns:addItem"></input>
<output wsam:Action="http://auctioneer/Data/addItemResponse" message="tns:addItemResponse"></output>
</operation>
<operation name="getHighestBidForAuction">
<input wsam:Action="http://auctioneer/Data/getHighestBidForAuctionRequest" message="tns:getHighestBidForAuction"></input>
<output wsam:Action="http://auctioneer/Data/getHighestBidForAuctionResponse" message="tns:getHighestBidForAuctionResponse"></output>
</operation>
</portType>
<binding name="DataPortBinding" type="tns:Data">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="login">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getAllAuctions">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="placeBid">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getPastAuctions">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getCurrent">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getChat">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="addMessage">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="addUser">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="addItem">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getHighestBidForAuction">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="DataService">
<port name="DataPort" binding="tns:DataPortBinding">
<soap:address location="http://localhost:8080/auctioneer"></soap:address>
</port>
</service>
</definitions>