AuctioneerClient/src/META-INF/wsdl/localhost_8080/auctioneer.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://auctioneer/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://auctioneer/">

<xs:element name="addItem" type="tns:addItem"></xs:element>

<xs:element name="addItemResponse" type="tns:addItemResponse"></xs:element>

<xs:element name="addMessage" type="tns:addMessage"></xs:element>

<xs:element name="addMessageResponse" type="tns:addMessageResponse"></xs:element>

<xs:element name="addUser" type="tns:addUser"></xs:element>

<xs:element name="addUserResponse" type="tns:addUserResponse"></xs:element>

<xs:element name="getAccountInfo" type="tns:getAccountInfo"></xs:element>

<xs:element name="getAccountInfoResponse" type="tns:getAccountInfoResponse"></xs:element>

<xs:element name="getAllAuctions" type="tns:getAllAuctions"></xs:element>

<xs:element name="getAllAuctionsResponse" type="tns:getAllAuctionsResponse"></xs:element>

<xs:element name="getChat" type="tns:getChat"></xs:element>

<xs:element name="getChatResponse" type="tns:getChatResponse"></xs:element>

<xs:element name="getCurrent" type="tns:getCurrent"></xs:element>

<xs:element name="getCurrentResponse" type="tns:getCurrentResponse"></xs:element>

<xs:element name="getHighestBidForAuction" type="tns:getHighestBidForAuction"></xs:element>

<xs:element name="getHighestBidForAuctionResponse" type="tns:getHighestBidForAuctionResponse"></xs:element>

<xs:element name="getMyAuctions" type="tns:getMyAuctions"></xs:element>

<xs:element name="getMyAuctionsResponse" type="tns:getMyAuctionsResponse"></xs:element>

<xs:element name="getMyQueue" type="tns:getMyQueue"></xs:element>

<xs:element name="getMyQueueResponse" type="tns:getMyQueueResponse"></xs:element>

<xs:element name="getPastAuctions" type="tns:getPastAuctions"></xs:element>

<xs:element name="getPastAuctionsResponse" type="tns:getPastAuctionsResponse"></xs:element>

<xs:element name="getTransaction" type="tns:getTransaction"></xs:element>

<xs:element name="getTransactionResponse" type="tns:getTransactionResponse"></xs:element>

<xs:element name="itemPaid" type="tns:itemPaid"></xs:element>

<xs:element name="itemPaidResponse" type="tns:itemPaidResponse"></xs:element>

<xs:element name="login" type="tns:login"></xs:element>

<xs:element name="loginResponse" type="tns:loginResponse"></xs:element>

<xs:element name="placeBid" type="tns:placeBid"></xs:element>

<xs:element name="placeBidResponse" type="tns:placeBidResponse"></xs:element>

<xs:complexType name="getTransaction">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:double"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTransactionResponse">
<xs:sequence>
<xs:element name="return" type="xs:base64Binary" nillable="true" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllAuctions">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getAllAuctionsResponse">
<xs:sequence>
<xs:element name="return" type="tns:item" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="item">
<xs:sequence>
<xs:element name="currentBid" type="xs:double"></xs:element>
<xs:element name="description" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:int"></xs:element>
<xs:element name="minimumPrice" type="xs:double"></xs:element>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="ownerName" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="paid" type="xs:boolean"></xs:element>
<xs:element name="remainingTime" type="xs:int"></xs:element>
<xs:element name="startingPrice" type="xs:double"></xs:element>
<xs:element name="winnerName" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="placeBid">
<xs:sequence>
<xs:element name="arg0" type="tns:userParent" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="userParent" abstract="true">
<xs:sequence>
<xs:element name="id" type="xs:int"></xs:element>
<xs:element name="password" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="salt" type="xs:base64Binary" minOccurs="0"></xs:element>
<xs:element name="username" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="user">
<xs:complexContent>
<xs:extension base="tns:userParent">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="wonItems">
<xs:complexType>
<xs:sequence>
<xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="key" minOccurs="0" type="tns:item"></xs:element>
<xs:element name="value" minOccurs="0" type="xs:double"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="admin">
<xs:complexContent>
<xs:extension base="tns:userParent">
<xs:sequence>
<xs:element name="type" type="tns:admintype" minOccurs="0"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="placeBidResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCurrent">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getCurrentResponse">
<xs:sequence>
<xs:element name="return" type="tns:item" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAccountInfo">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAccountInfoResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMyQueue">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMyQueueResponse">
<xs:sequence>
<xs:element name="return" type="tns:item" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMyAuctions">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMyAuctionsResponse">
<xs:sequence>
<xs:element name="return" type="tns:item" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addItem">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg2" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg3" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg4" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg5" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addItemResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="itemPaid">
<xs:sequence>
<xs:element name="arg0" type="tns:item" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="itemPaidResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getChat">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getChatResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="tns:userParent" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getHighestBidForAuction">
<xs:sequence>
<xs:element name="arg0" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getHighestBidForAuctionResponse">
<xs:sequence>
<xs:element name="return" type="tns:bid" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bid">
<xs:sequence>
<xs:element name="amount" type="xs:double"></xs:element>
<xs:element name="highest" type="xs:boolean"></xs:element>
<xs:element name="user" type="tns:user" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addMessage">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addMessageResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getPastAuctions">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getPastAuctionsResponse">
<xs:sequence>
<xs:element name="return" type="tns:item" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addUser">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="admintype">
<xs:restriction base="xs:string">
<xs:enumeration value="DISTRIBUTOR"></xs:enumeration>
<xs:enumeration value="JANITOR"></xs:enumeration>
<xs:enumeration value="HEADADMIN"></xs:enumeration>
</xs:restriction>
</xs:simpleType>
</xs:schema>